/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@include establish-baseline;

/** GENERAL **/

$link-color: #F9681E;

/** TYPOMATIC- https://github.com/andrejmlinarevic/typomatic **/

/* FONT-FACE */
@font-face {
    font-family: 'source_sans_problack';
    src: url('../fonts/SourceSansPro-Black-webfont.eot');
    src: url('../fonts/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Black-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Black-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Black-webfont.svg#source_sans_problack') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

/* Typography Setting */
$base-font-size: 20px;
$base-line-height: 30px;
$rhythm-unit: "rem";
$rhytm-with-px-fallback: false;

$base-font-family: Georgia, Times, serif; 
$alt-font-family-black: "source_sans_problack","Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family-bold: "source_sans_probold","Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family-regular: "source_sans_proregular","Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;    

/* Typography Variables */
$type-prefix: "t-";
$type-scale: (
	tiny: (
		font-size: 13px,
		base-lines: 0.5
	),
	small: (
		font-size: 16px,
		base-lines: 0.75
	),
	base: (
		font-size: $base-font-size,
		base-lines: 1
	),
	medium: (
		font-size: 25px,
		base-lines: 1
	),
	large: (
		font-size: 31px,
		base-lines: 1
	),
	xlarge: (
		font-size: 39px,
		base-lines: 1.5
	),
	xxlarge: (
		font-size: 49px,
		base-lines: 2
	)
);

$type-weight: (
	thin: 200,
	light: 300,
	regular: 400,
	bold: 700,
	black: 900
);


/* Typography Base */

body {
	padding: 5%;
    margin: 0;
    color: #333;
    font-family: $base-font-family;
}
main {
    @include clearfix;
    .left {
        float: left;
        width: 60%;
    }
    .right {
        float: right;
        width: 35%;
    }
}

/* Typography Mixins */
@mixin type-scale($scale, $map: $type-scale) {
  $font-size: map-fetch($map, $scale font-size);
  $base-lines: map-fetch($map, $scale base-lines);
  @include adjust-font-size-to($font-size, $base-lines);
}

/* Typography Map */
@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i))
		}
		@return map-fetch($value, $rest)
	} @else {
		@return $value;
	}
}

@each $scale in map-keys($type-scale) {
    %#{$type-prefix}#{$scale} {
        @include adjust-font-size-to (
            map-fetch($type-scale, $scale font-size),   
            map-fetch($type-scale, $scale base-lines)
        );
    }
}

@mixin type-scale($scale, $extend: true, $map: $type-scale) {
    @if $extend {
        @extend %#{$type-prefix}#{$scale};
    }
    @else {
        @include adjust-font-size-to(
            map-fetch($map, $scale font-size),
            map-fetch($map, $scale base-lines)
        );
    }
}

@mixin type-weight($weight) {
    font-weight: map-get($type-weight, $weight);
}

@mixin type-ligatures() {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

#{h1, h2, h3} {
    font-family: $alt-font-family-black;
    margin-top: 0;
    @include type-weight(black);
    @include type-ligatures;
}

#{h4, h5} {
    font-family: $alt-font-family-bold;
    margin-top: 0;
    @include type-weight(bold);
    @include margin-trailer(1);
    @include type-ligatures;
}

h1 {
    @include type-scale(xxlarge);
}
h2 {
    @include type-scale(xlarge);
}
h3 {
    @include type-scale(large);
}
h4 {
    @include type-scale(medium);
}
h5 {
    @include type-scale(base);
}

p {
    @include margin-trailer(1);
    @include word-break(break-word);
    @include hyphens(auto);
    @include type-ligatures;
    font-family: $base-font-family;
}

small {
    @include type-scale(small);
}

a {
	font-family: $alt-font-family-bold;
	@include type-scale(large);
    color: $link-color;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all 0.25s ease-in);
    &:hover, &:focus {
        color: #fafafa;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        color: darken($link-color, 10%);
    }
}


/* STYLE */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
	min-height: 100%;
	background: url("../images/37cABG_mini.jpg")no-repeat center center;
	@include background-size(cover);
}

.container {
	width: 100%;
	margin: 0 auto;
    overflow: hidden;
}

.logo {
	width: 100px;
	height: 46px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgNDYiPjxwb2x5Z29uIGZpbGw9IiNGMjNBMjciIHBvaW50cz0iNjEuNCw3LjYgMzUuNCw3LjYgMzUuNCwwIDU4LjcsMCIvPjxwYXRoIGZpbGw9IiNGOTY4MUUiIGQ9Ik01OC43IDBjLTAuMyAwLjMtNi4xIDguMy02LjQgOC43Yy00IDUuNS03IDEwLjUtOSAxNC45Yy0yLjYgNi00IDEyLTQgMThjMCAwLjkgMC4xIDMuMiAwLjIgNC4zaDYuOSBjLTAuMS0wLjktMC4xLTMuMi0wLjEtNC4zYzAtNS44IDEuNC0xMS42IDQuMy0xNy42YzIuMS00LjQgNS40LTkuNCA5LjctMTVjMC4zLTAuNCAwLjctMC45IDEtMS40TDU4LjcgMHoiLz48cG9seWdvbiBmaWxsPSIjRjIzQTI3IiBwb2ludHM9IjQsNy42IDI5LjEsNy42IDI2LjQsMCA0LDAiLz48cGF0aCBmaWxsPSIjRjk2ODFFIiBkPSJNMTIuMSAyMy4xYzcuOS0wLjkgMTcuMy03IDE3LTE1LjVMMjYuNCAwYy0yLjEgNy41LTcuOSAxNS44LTE5LjkgMTguMUwxMi4xIDIzLjF6Ii8+PHBhdGggZmlsbD0iIzk4MUQyMSIgZD0iTTI5LjEgNy42TDI2LjQgMGMtMC43IDIuNS0xLjkgNS4xLTMuNSA3LjZIMjkuMXoiLz48cGF0aCBmaWxsPSIjOTgxRDIxIiBkPSJNNjEuNCA3LjZMNTguNyAwYy0wLjIgMC4zLTMuOSA1LjMtNS42IDcuNkg2MS40eiIvPjxwYXRoIGZpbGw9IiNGMjNBMjciIGQ9Ik0xMDAgOS45SDg4LjJjLTMuNSAwLTYuNSAxLjQtOS4xIDQuMWMtMi43IDIuOC00IDYuMy00IDEwLjRjMCA0LjEgMS4zIDcuNCA0IDEwLjNjMC45IDEgMS45IDEuOCAzIDIuNSBjLTUuOC0yLjEtMTEuMS05LTExLjYtMTUuOUM3MC4yIDE1IDczLjMgOS40IDc3LjkgNS45YzMtMi4yIDYuNS0zLjQgMTAuMy0zLjRoOS41TDEwMCA5Ljl6Ii8+PHJlY3QgeD0iNjQuMiIgeT0iMCIgZmlsbD0iI0YyM0EyNyIgd2lkdGg9IjcuNiIgaGVpZ2h0PSI3LjYiLz48cGF0aCBmaWxsPSIjRjIzQTI3IiBkPSJNOTguOCAzNC4zYy0yLjUgMi44LTUuNSA0LjMtOS4yIDQuOGMtMS4yIDAuMi0yLjMgMC4zLTMuNiAwLjNjLTguOCAwLTE2LjItNi42LTE4LjEtMTUuNSBjMCAwLjUgMCAwLjkgMCAxLjRjMCA1LjggMiAxMC43IDUuOSAxNC43YzMuOSA0IDguNiA2IDE0IDZjNC4xIDAgNy44LTEgMTEtM1YzNC4zeiIvPjxwYXRoIGZpbGw9IiNGMjNBMjciIGQ9Ik0yNy41IDIyLjFjLTAuNS0wLjYtMC44LTEuMS0xLjMtMS41bC0wLjQtMC40Yy0xLjggMS44LTQgMy4yLTYuMyA0LjJsMC4yIDAuMWMwLjQgMC4zIDAuOCAwLjYgMS4xIDAuOSBjMS42IDEuNSAyLjMgMy40IDIuMyA1LjVjMCAyLjEtMC44IDMuOS0yLjMgNS41Yy0xLjYgMS41LTMuNCAyLjMtNS43IDIuM2MtMi4yIDAtNC4xLTAuOC01LjctMi4zYy0wLjYtMC42LTEuMS0xLjMtMS41LTJIMCBjMC43IDIuNyAyLjEgNS4xIDQuMiA3LjFjMyAyLjkgNi42IDQuNCAxMC45IDQuNGM0LjIgMCA3LjktMS41IDEwLjktNC40YzMtMi45IDQuNS02LjUgNC41LTEwLjZDMzAuNSAyNy43IDI5LjUgMjQuNyAyNy41IDIyLjF6Ii8+PC9zdmc+);
}

.topHeader {
    width:100%;
    height:300px;
    margin:auto;
    position:relative;
    overflow: hidden;
}
.topHeader:after {
	content: " ";
	display: block;
	position: absolute;
	top: 60px;
	right: 0;
	bottom: -20px;
	left: 0;
	border-style: solid;
	border-width: 130px 600px 0 0px;
	border-color: transparent #fafafa;
	border-bottom: 0;
}

.profile {
	width: 80%;
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
}

.profile img {
	width: 50%;
}

button {
	color: #fafafa;
	background: rgba(0,0,0,.5);
	width: 100%;
	border: 0;
	padding: 10px;
	margin:0;
	@include type-scale(large);
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
}

.mobile {
		display: none;
}

.mobile ul {
	text-align: center;
	background-color: #222;
	padding: 10px 0;
}

.mobile ul li {
	padding: 10px;
}

article {
	background: #fafafa;
	padding: 30px 20px 10px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

#Skills ul li {
    display: inline-block;
    background: #dedede;
    padding: 5px 15px;
    margin-bottom: 10px;
    @include border-radius(10px);
}

#Follow {
    border-bottom: 2px solid darken(#fafafa, 30%);
}

#Follow ul {
    text-align: center;
}

#Follow ul li a{
    display: inline-block;
    float: left;
    width: 20%;
    border: 1px solid $link-color;
    margin-bottom: 10px;
    line-height: 2;
}

#Skills ul li:first-child, #Follow ul li:first-child {
    margin-top: 20px;
}

#Follow ul li a:hover {
    background: $link-color;
    color: #fafafa;
}

footer {
    color: #fafafa;
    font-family: $alt-font-family-regular;
    @include type-scale(small);
    border-top: 1px solid #fafafa;
    margin-top: 30px;
    text-align: center;
}

footer a {
    font-family: $alt-font-family-regular;
    @include type-scale(small);
    text-transform: inherit;
}








